<ion-view view-title="SCANIK">
  <ion-nav-buttons side="right">        
    <button class="button button-icon icon ion-bag" ng-click="gotoMycart()"></button>
</ion-nav-buttons>
  <ion-content class="screen_bg" scroll="true">
    <ion-list>
      <ion-item class="screen_bg titleStyle" style="text-align: center">
        Enter Credit card Details(step-2) 
      </ion-item>
      <form method="POST" ng-submit="gotoRegister()">
      <ion-item class="item item-icon-left itemHeight" href="" ng-click="gotoCreditDetails(1)">
      <i class="icon ion-card"></i>
        <b ng-hide="card1.accNumber">Credit card 1</b>
        <div  ng-show="card1.accNumber">
          <div class=" screen_bg">
          <b>XXXX-XXXX-XXXX-{{card1.accNumber|limitTo:9:12}}</b>
           </div>
         </div>
        <i class="item-icon-left ion-chevron-right rightArrow"></i>
      </ion-item >
      <ion-item class="item item-icon-left itemHeight" href="" ng-click="gotoCreditDetails(2)">
      <i class="icon ion-card"></i>
        <b ng-hide="card2.accNumber">Credit card 2</b>
        <div  ng-show="card2.accNumber">
          <div class=" screen_bg">
          <b>XXXX-XXXX-XXXX-{{card2.accNumber|limitTo:9:12}}</b><br>
           </div>
         </div>
        <i class="item-icon-left ion-chevron-right rightArrow "></i>
      </ion-item>
      <ion-item class="item item-icon-left itemHeight" href="" ng-click="gotoCreditDetails(3)">
      <i class="icon ion-card"></i>
       <b ng-hide="card3.accNumber">Credit card 3</b>
        <div  ng-show="card3.accNumber">
          <div class=" screen_bg">
          <b>XXXX-XXXX-XXXX-{{card3.accNumber|limitTo:9:12}}</b>
           </div>
         </div>        
         <i class="item-icon-left ion-chevron-right rightArrow"></i>
      </ion-item>
      <ion-item class="item item-icon-left itemHeight" href="" ng-click="gotoCreditDetails(4)">
      <i class="icon ion-card"></i>
        <b ng-hide="card4.accNumber">Credit card 4</b>
        <div  ng-show="card4.accNumber">
          <div class=" screen_bg">
          <b>XXXX-XXXX-XXXX-{{card4.accNumber|limitTo:9:12}}</b>
           </div>
         </div>
        <i class="item-icon-left ion-chevron-right rightArrow"></i>
      </ion-item>
      <ion-item class="item item-icon-left itemHeight" href="" ng-click="gotoCreditDetails(5)">
      <i class="icon ion-card"></i>
        <b ng-hide="card5.accNumber">Credit card 5</b>
        <div  ng-show="card5.accNumber">
          <div class=" screen_bg">
          <b>XXXX-XXXX-XXXX-{{card5.accNumber|limitTo:9:12}}</b>
           </div>
         </div>
        <i class="item-icon-left ion-chevron-right rightArrow"></i>
      </ion-item>
      <label class="item screen_bg" >
          <input class="button button-block button-outline button-light" type="submit" value="Save">
        </label>
      </form>
    </ion-list>
  </ion-content>
</ion-view>
