<ion-view view-title="My Cart" align-title="center">
  <ion-nav-buttons side="right">        
    <button class="button button-icon icon ion-bag" ng-click="gotoMycart()"></button>
</ion-nav-buttons>
<ion-content class="screen_bg">
   <ion-item class="screen_bg titleStyle" style="text-align:center" ng-show="Total">    
       My Products
       </ion-item>
       <ion-item class="screen_bg titleStyle" style="text-align:center" ng-hide="Total">    
       No Products scanned yet.
       </ion-item>
        <ion-item  class="screen_bg" ng-show="Pname">
         <div class="row">
         <div class="col col-50">{{Pname|limitTo:11}}</div>
        <div class="col col-33">${{originalPrice1|number:2}}</div>
     <div class="col">   
    <select  ng-model="quantity1" ng-selected="quantity1" ng-change="update1(quantity1)" >

      <option  value="1" ng-selected="quantity1 == 1">1</option>
      <option value="2" ng-selected="quantity1 == 2">2</option>
      <option value="3" ng-selected="quantity1 == 3">3</option>
    </select>
     </div>    
        <div class="col icon ion-trash-a" ng-click="DeleteProduct1()"></div>
         </div>
       </ion-item>
  
      <ion-item  class="screen_bg" ng-show="Pname1">
         <div class="row">
         <div class="col col-50">{{Pname1|limitTo:11}}</div>
        <div class="col col-33">${{originalPrice|number:2}}</div>
         <div class="col">  
          
    <select  ng-model="quantity2" ng-selected="quantity2" ng-change="update(quantity2)" >
      <option   value="1" ng-selected="quantity2 == 1">1</option>
      <option value="2" ng-selected="quantity2 == 2">2</option>
      <option  value="3" ng-selected="quantity2 == 3">3</option>
    </select>
     </div> 
        <div class="col icon ion-trash-a" ng-click="DeleteProduct2()"></div>
        </div>
       </ion-item>
            <!--<ion-item  class="screen_bg">
         <div class="row">
         <div class="col col-50">Weber Grill</div>
        <div class="col col-33">$25.00</div>
        
        <div class="col">   
    <select>
      <option selected>1</option>
      <option >2</option>
      <option>3</option>
    </select>
     </div> 
        <div class="col icon ion-trash-a" ng-click="DeleteProduct()"></div>
        </div>
       </ion-item>
       
  
    <ion-item  class="screen_bg">
        <div class="row">
        <div class="col col-50">Shipping Cost</div>
        <div class="col col-33">$25</div>
         
         <div class="col">   
    <select>
      <option selected>1</option>
      <option >2</option>
      <option>3</option>
    </select>
     </div> 
        <div class="col icon ion-trash-a" ng-click="DeleteProduct()"></div>
        </div>
   </ion-item>-->

       <ion-item  class="screen_bg" ng-show="Total">
         <div class="row">
         <div class="col col-50">Total</div>
        <div class="col col-33"><b>${{Total| number:2}}</b></div>
        </div>
       </ion-item>
        <ion-item class="screen_bg">
       <button class="button button-block button-outline button-light icon-right" ng-model="continueShopping" ng-click="scanBarcodeTest()">Continue Shopping</button>
       </ion-item>
       <ion-item class="screen_bg" ng-show="Total">
       <button class="button button-block button-outline button-light icon-right" ng-model="checkOut" ng-click="gotoShippingInfo()">Continue to Check out</button>
       </ion-item>
     </ion-list>
</ion-content>
</ion-view>