<ion-view view-title="SCANIK">
  <ion-nav-buttons side="right">        
    <button class="button button-icon icon ion-bag" ng-click="gotoMycart()"></button>
</ion-nav-buttons>
  <ion-content class="screen_bg" scroll="false">
     <ion-list>
       <ion-item class="screen_bg titleStyle" style="text-align: center">
   My Orders
       </ion-item>  
 <ion-item  class="screen_bg">
   <div class="card ">
  <div class="item item-text-wrap">
    Order1 details
  </div>
</div>
<div class="card">
  <div class="item item-text-wrap">
Order 2 details </div>
</div>
<div class="card">
  <div class="item item-text-wrap">
    ...so on
  </div>
</div>
       </ion-item>
</ion-list>
</ion-view>
