<ion-view view-title="SCANIK">
  <ion-nav-buttons side="right">        
    <button class="button button-icon icon ion-bag" ng-click="gotoMycart()"></button>
</ion-nav-buttons>
  <ion-content class="screen_bg" scroll="false">
     <ion-list>
      <ion-item class="screen_bg titleStyle" style="text-align: center">
        Select Payment Method
      </ion-item>
      <ion-item class="item item-icon-left" href="" ng-click="orderSuccess()">
      <!--<i class="icon ion-card"></i>-->
       <img src="img/visa.png" class="logosStyle1">
        <h2 class="item-text-center">Card 1</h2>
        <i class="item-icon-left ion-chevron-right rightArrow"></i>
      </ion-item >
      <ion-item class="item item-icon-left" href="" ng-click="orderSuccess()">
      <!--<i class="icon ion-card"></i>-->
              <img src="img/american.png" class="logosStyle1"> 
        <h2 class="item-text-center">Card 2</h2>
        <i class="item-icon-left ion-chevron-right rightArrow"></i>
      </ion-item>
      <ion-item class="item item-icon-left" href="" ng-click="orderSuccess()">
      <!--<i class="icon ion-card"></i>-->
                 <img src="img/mastercard.png" class="logosStyle1">
       <h2 class="item-text-center"> Card 3</h2>
        <i class="item-icon-left ion-chevron-right rightArrow"></i>
      </ion-item>
      <ion-item class="item item-icon-left" href="" ng-click="orderSuccess()">
      <!--<i class="icon ion-card"></i>-->
          <img src="img/discover.png" class="logosStyle1">
                <h2 class="item-text-center">Card 4</h2>
        <i class="item-icon-left ion-chevron-right rightArrow"></i>
      </ion-item>
      <ion-item class="item item-icon-left" href="" ng-click="orderSuccess()">
      <!--<i class="icon ion-card"></i>-->
      <img src="img/paypal.png" class="logosStyle1">
               <h2 class="item-text-center">Card 5</h2>
        <i class="item-icon-left ion-chevron-right rightArrow"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
