<ion-view view-title="SCANIK">
  <ion-nav-buttons side="right">        
    <button class="button button-icon icon ion-bag" ng-click="gotoMycart()"></button>
</ion-nav-buttons>
  <ion-content class="screen_bg" scroll="true">
     <ion-list>
      <ion-item class="screen_bg titleStyle" style="text-align: center">
        Select Payment Method
      </ion-item>
      <form method="POST" ng-submit="orderSuccess()">
       <ion-item class="item item-icon-left itemHeight" href="" ng-hide="card1.accNumber" ng-click="gotoCreditDetails2(1)" >
      <i class="icon ion-card"></i>
      <b>Credit card 1</b>
       </ion-item>
       <ion-item class="item item-icon-left itemHeight" ng-show="card1.accNumber">
         <i class="icon">
                <input type="radio" name="selectedCard" ng-model="selectedCard" class="radioStyle"></i>                     
        
          <div class="screen_bg ">
          <b>XXXX-XXXX-XXXX-{{card1.accNumber|limitTo:9:12}}</b></div>
        <i class="item-icon-left rightArrow"><input type="button" ng-click="gotoCreditDetails2(1)"  value="edit"></i>
      </ion-item>
      <ion-item class="item item-icon-left itemHeight" href="" ng-hide="card2.accNumber" ng-click="gotoCreditDetails2(2)">
      <i class="icon ion-card"></i>
          <b>Credit card 2</b>
      </ion-item>

      <ion-item class="item item-icon-left itemHeight" ng-show="card2.accNumber">
         <i class="icon"><input type="radio" name="selectedCard" ng-model="selectedCard" class="radioStyle"></i>  
          <div class="screen_bg">
          <b>XXXX-XXXX-XXXX-{{card2.accNumber|limitTo:9:12}}</b>
           </div>
      
        <i class="item-icon-left rightArrow"><input type="button" ng-click="gotoCreditDetails2(2)"  value="edit"></i>
      </ion-item>


      <ion-item class="item item-icon-left itemHeight" href="" ng-hide="card3.accNumber" ng-click="gotoCreditDetails2(3)">
      <i class="icon ion-card"></i>
      <b>Credit card 3</b>
      </ion-item>
      <ion-item class="item item-icon-left itemHeight" ng-show="card3.accNumber">
                   <i class="icon"><input type="radio" name="selectedCard" ng-model="selectedCard" class="radioStyle"></i>
       
        
          <div class="screen_bg ">
          <b>XXXX-XXXX-XXXX-{{card3.accNumber|limitTo:9:12}}</b>
           </div>
                
         <i class="item-icon-left rightArrow"><input type="button" ng-click="gotoCreditDetails2(3)"  value="edit"></i>
      </ion-item>


      <ion-item class="item item-icon-left itemHeight" href="" ng-hide="card4.accNumber" ng-click="gotoCreditDetails2(4)">
      <i class="icon ion-card"></i>
      <b>Credit card 4</b>
      </ion-item>
      
      <ion-item class="item item-icon-left itemHeight" ng-show="card4.accNumber">
                     <i class="icon"> <input type="radio" name="selectedCard" ng-model="selectedCard" class="radioStyle"></i>
          <div class="screen_bg ">
          <b>XXXX-XXXX-XXXX-{{card4.accNumber|limitTo:9:12}}</b>
           </div>
        <i class="item-icon-left rightArrow"><input type="button" ng-click="gotoCreditDetails2(4)"  value="edit"></i>
      </ion-item>
     
     <ion-item class="item item-icon-left itemHeight" href="" ng-hide="card5.accNumber" ng-click="gotoCreditDetails2(5)">
      <i class="icon ion-card"></i>
      <b>Credit card 5</b>
      </ion-item>
      
      <ion-item class="item item-icon-left itemHeight" ng-show="card5.accNumber">
                     <i class="icon"> <input type="radio" name="selectedCard" ng-model="selectedCard" class="radioStyle"></i>
          <div class="screen_bg ">
          <b>XXXX-XXXX-XXXX-{{card5.accNumber|limitTo:9:12}}</b>
           </div>
        <i class="item-icon-left rightArrow"><input type="button" ng-click="gotoCreditDetails2(5)"  value="edit"></i>
      </ion-item>
      <label class="item screen_bg" ng-show="card1.accNumber">
          <input class="button button-block button-outline button-light" type="submit" value="Pay Now">
        </label>
      <!--<ion-item class="item item-icon-left itemHeight" href="" ng-click="gotoCreditDetails2()">
      <i class="icon ion-card"></i>
       <img src="img/visa.png" class="ion-card logosStyle1">
        Credit Card
        <i class="item-icon-left rightArrow"><input type="button" ng-click="gotoCreditDetails2(5)"  value="edit"></i></div>
      </ion-item >
      <ion-item class="item item-icon-left itemHeight" href="" ng-click="gotoCreditDetails2()">
      <i class="icon ion-card"></i>
              <img src="img/american.png" class="ion-card logosStyle1"> 
        Debit Card
        <i class="item-icon-left rightArrow"><input type="button" ng-click="gotoCreditDetails2(5)"  value="edit"></i></div>
      </ion-item>-->
      </form>
    </ion-list>
  </ion-content>
</ion-view>
