<ion-view view-title="SCANIK">
  <ion-nav-buttons side="right">        
    <button class="button button-icon icon ion-bag" ng-click="gotoMycart()"></button>
</ion-nav-buttons>
  <ion-content class="screen_bg" scroll="true">
     <ion-list>
       <ion-item class="screen_bg titleStyle" style="text-align: center">
   Reciept
       </ion-item>  
 <ion-item  class="screen_bg">
   <div class="card ">
  <div class="item item-text-wrap">
    Your reciept will be emailed to you shortly.
  </div>
</div>
</ion-item>
<div class="card">
     <img src="img/reciept.jpg">
</div>      
</ion-list>
</ion-view>
