<div>
<ion-view view-title="SCANIK" align-title="center">
  <ion-content class="screen_bg" scroll="false">
    <ion-list>
      <ion-item class="screen_bg titleStyle" style="text-align:center">
        <b>Welcome to SCANIK <br> Please Register</b>
      </ion-item>
      <ion-item class="item item-icon-left" href="#/app/email">
      <i class="icon ion-email"></i>
        Enter your email address
        <i class="item-icon-left ion-chevron-right rightArrow"></i>
      </ion-item >
      <ion-item class="item item-icon-left" href="#/app/creditCard">
      <i class="icon ion-card"></i>
        Enter Credit card Information
        <i class="item-icon-left ion-chevron-right rightArrow"></i>
      </ion-item>
      <ion-item class="item item-icon-left" href="#/app/shippingInfo">
      <i class=" icon ion-ios-cart"></i>
        Enter Shipping Information
        <i class="item-icon-left ion-chevron-right rightArrow"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
</div>
