<ion-view view-title="SCANIK" cache-view="false">
  <ion-nav-buttons side="right">        
    <button class="button button-icon icon ion-bag" ng-click="gotoMycart()"></button>
</ion-nav-buttons>
  <ion-content class="screen_bg">
    <ion-list>
      <ion-item class="screen_bg titleStyle" style="text-align: center">
        Shipping Information
      </ion-item>
      <ion-item class="item item-icon-left"  href="" ng-click="gotoShippingAddress()" ng-model="Address1" ng-change="Address1">
      <i class=" icon ion-ios-cart"></i>
        Shipping Address 1
        <i class="item-icon-left ion-chevron-right rightArrow"></i>
      </ion-item >
      <ion-item class="item item-icon-left" href="" ng-click="gotoShippingAddress()" ng-model="Address2" ng-change="Address2">
      <i class=" icon ion-ios-cart"></i>
        Shipping Address 2
        <i class="item-icon-left ion-chevron-right rightArrow"></i>
      </ion-item>
      <ion-item class="item item-icon-left" href="" ng-click="gotoShippingAddress()" ng-model="Address3"  ng-change="Address3">
      <i class=" icon ion-ios-cart"></i>
        Shipping Address 3
        <i class="item-icon-left ion-chevron-right rightArrow"></i>
      </ion-item>
      <ion-item class="item item-icon-left" href="" ng-click="gotoShippingAddress()" ng-model="Address4" ng-change="Address4">
      <i class=" icon ion-ios-cart"></i>
        Shipping Address 4
        <i class="item-icon-left ion-chevron-right rightArrow"></i>
      </ion-item>
      <ion-item class="item item-icon-left" href="" ng-click="gotoShippingAddress()" ng-model="Address5" ng-change="Address5">
      <i class=" icon ion-ios-cart"></i>
        Shipping Address 5
        <i class="item-icon-left ion-chevron-right rightArrow"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
