<ion-view view-title="SCANIK" cache-view="false">
  <ion-nav-buttons side="right">        
    <button class="button button-icon icon ion-bag" ng-click="gotoMycart()"></button>
</ion-nav-buttons>
  <ion-content class="screen_bg">
    <ion-list>
      <ion-item class="screen_bg titleStyle" style="text-align: center">
         Enter shipping Addresses
      </ion-item>
      <ion-item class="item item-icon-left itemHeight" href="" ng-click="gotoShippingAddress(1)" ng-model="shipping.Address1" ng-change="Address1">
      <i class=" icon ion-ios-cart"></i>
      <b ng-hide="details1.firstName">Shipping Address 1</b>
          <div class="screen_bg" ng-show="details1.firstName">
          <b ng-hide="details1.nickName">{{details1.firstName}}&nbsp&nbsp{{details1.lastName}}</b><b>{{details1.nickName}}</b><br>
          </div>
        <i class="item-icon-left ion-chevron-right rightArrow" ng-hide="details1.firstName"></i>
        <i class="item-icon-left ion-trash-a rightArrow" ng-show="details1.firstName"></i>

      </ion-item >
      <ion-item class="item-icon-left itemHeight" href="" ng-click="gotoShippingAddress(2)" ng-model="shipping.Address2" ng-change="Address2">
      <i class=" icon ion-ios-cart"></i>
        <b ng-hide="details2.firstName">Shipping Address 2</b>
          <div class=" screen_bg" ng-show="details2.firstName">
          <b  ng-hide="details2.nickName">{{details2.firstName}}&nbsp&nbsp{{details2.lastName}}</b><b>{{details2.nickName}}</b><br>
          </div>
        <i class="item-icon-left ion-chevron-right rightArrow" ng-hide="details2.firstName"></i>
        <i class="item-icon-left ion-trash-a rightArrow" ng-show="details2.firstName"></i>
      </ion-item>

      <ion-item class="item item-icon-left itemHeight" href="" ng-click="gotoShippingAddress(3)" ng-model="Address3"  ng-change="Address3">
      <i class=" icon ion-ios-cart"></i>
         <b ng-hide="details3.firstName">Shipping Address 3</b>
          <div class=" screen_bg" ng-show="details3.firstName">
          <b  ng-hide="details3.nickName">{{details3.firstName}}&nbsp&nbsp{{details3.lastName}}</b><b>{{details3.nickName}}</b><br>
          </div>
        <i class="item-icon-left ion-chevron-right rightArrow" ng-hide="details3.firstName"></i>
        <i class="item-icon-left ion-trash-a rightArrow" ng-show="details3.firstName"></i>
      </ion-item>

      <ion-item class="item item-icon-left itemHeight" href="" ng-click="gotoShippingAddress(4)" ng-model="Address4" ng-change="Address4">
      <i class=" icon ion-ios-cart"></i>
       <i class=" icon ion-ios-cart"></i>
         <b ng-hide="details4.firstName">Shipping Address 4</b>
          <div class=" screen_bg" ng-show="details4.firstName">
          <b  ng-hide="details4.nickName">{{details4.firstName}}&nbsp&nbsp{{details4.lastName}}</b><b>{{details4.nickName}}</b><br>
          </div>  
        <i class="item-icon-left ion-chevron-right rightArrow" ng-hide="details4.firstName"></i>
        <i class="item-icon-left ion-trash-a rightArrow" ng-show="details4.firstName"></i>

      </ion-item>
      <ion-item class="item item-icon-left itemHeight" href="" ng-click="gotoShippingAddress(5)" ng-model="Address5" ng-change="Address5">
      <i class=" icon ion-ios-cart"></i>
       <i class=" icon ion-ios-cart"></i>
         <b ng-hide="details5.firstName">Shipping Address 5</b>
          <div class=" screen_bg" ng-show="details5.firstName">
          <b  ng-hide="details5.nickName">{{details5.firstName}}&nbsp&nbsp{{details5.lastName}}</b><b>{{details5.nickName}}</b><br>
          </div>
        <i class="item-icon-left ion-chevron-right rightArrow" ng-hide="details5.firstName"></i>
        <i class="item-icon-left ion-trash-a rightArrow" ng-show="details5.firstName"></i>
       
      </ion-item>
      <label class="item screen_bg">
          <input class="button button-block button-outline button-light" ng-click="gotoStore()" value="continue">
        </label>
    </ion-list>
  </ion-content>
</ion-view>
