<ion-view view-title="SCANIK">
  <ion-nav-buttons side="right">        
    <button class="button button-icon icon ion-bag" ng-click="gotoMycart()"></button>
</ion-nav-buttons>
  <ion-content class="screen_bg">
    <ion-list>
      <ion-item class="screen_bg titleStyle" style="text-align: center">
        Select Shipping Address
      </ion-item>
      <ion-item class="item item-icon-left"  href="" ng-click="gotoOrderSummary()" ng-show="firstName">
      <i class=" icon ion-ios-cart"></i>
       Name: {{firstName}}<br>
       Mobile:{{number}}<br>
       Address:{{address1}},{{address2}},{{address3}},{{address4}},{{address5}}
        <i class="item-icon-left ion-chevron-right rightArrow"></i>
      </ion-item >
      <ion-item class="item item-icon-left" href="" ng-click="gotoShippingContact()">
      <i class=" icon ion-ios-cart"></i>
        Add new Address
        <i class="item-icon-left ion-chevron-right rightArrow"></i>
      </ion-item>
      <!--<ion-item class="item item-icon-left" href="" ng-click="gotoShippingContact()">
      <i class=" icon ion-ios-cart"></i>
        Shipping Address 3
        <i class="item-icon-left ion-chevron-right rightArrow"></i>
      </ion-item>
      <ion-item class="item item-icon-left" href="" ng-click="gotoShippingContact()">
      <i class=" icon ion-ios-cart"></i>
        Shipping Address 4
        <i class="item-icon-left ion-chevron-right rightArrow"></i>
      </ion-item>
      <ion-item class="item item-icon-left" href="" ng-click="gotoShippingContact()">
      <i class=" icon ion-ios-cart"></i>
        Shipping Address 5
        <i class="item-icon-left ion-chevron-right rightArrow"></i>
      </ion-item>-->
    </ion-list>
  </ion-content>
</ion-view>
