<ion-view view-title="SCANIK">
  <ion-nav-buttons side="right">        
    <button class="button button-icon icon ion-bag" ng-click="gotoMycart()"></button>
</ion-nav-buttons>
  <ion-content class="screen_bg" scroll="false">
     <ion-list>
      <ion-item class="select-SCANIK-Store screen_bg titleStyle" style="text-align: center">  
    Select Shipping Method
       </ion-item>
     <ion-item  class="item item-icon-left" href="" ng-click="gotoPaymentMethod()">
    <img src="img/fedex.png" class="logosStyle">
           <i class="item-icon-left ion-chevron-right rightArrow"></i>
       </ion-item>
  
      <ion-item  class="item item-icon-left" href="" ng-click="gotoPaymentMethod()">
        <img src="img/uspostal.png" class="logosStyle">
          <i class="item-icon-left ion-chevron-right rightArrow"></i>
       </ion-item>
 <ion-item  class="item item-icon-left" href="" ng-click="gotoPaymentMethod()">     
    <img src="img/ups.png" class="logosStyle">   
                <i class="item-icon-left ion-chevron-right rightArrow"></i> 
       </ion-item>
  
      <ion-item  class="item item-icon-left" href="" ng-click="gotoPaymentMethod()">       
    <img src="img/dhl.png" class="logosStyle">
                <i class="item-icon-left ion-chevron-right rightArrow"></i>      
       </ion-item>

 <ion-item  class="item item-icon-left" href="" ng-click="gotoPaymentMethod()">
         <img src="img/canadapost.png" class="logosStyle">
                <i class="item-icon-left ion-chevron-right rightArrow"></i>
          </ion-item>
</ion-list>
  </ion-content>
</ion-view>
