<ion-view view-title="SCANIK">
  <ion-nav-buttons side="right">        
    <button class="button button-icon icon ion-bag" ng-click="gotoMycart()"></button>
        <button style="position: absolute;right:50px" class="button button-icon icon ion-person" ng-click="gotoRegister()"></button>
</ion-nav-buttons>

  <ion-content class="screen_bg" scroll="true">
     <ion-list>
       <ion-item class="select-SCANIK-Store screen_bg" style="text-align: center">
      <b class="titleStyle">Select Scanik Store</b>
       </ion-item>
 <ion-item  class="item item-icon-left itemHeight" href="" ng-click="scanBarcode()">
    <img src="img/costco.png" 
    class="logosStyle">
            <i class="item-icon-left ion-chevron-right rightArrow"></i>
       </ion-item>
  
     <ion-item  class="item item-icon-left itemHeight" href="" ng-click="scanBarcode()">
    <img src="img/petco.png" 
    class="logosStyle">
            <i class="item-icon-left ion-chevron-right rightArrow"></i>
       </ion-item>


       <ion-item  class="item item-icon-left itemHeight" href="" ng-click="scanBarcode()">
    <img src="img/target.png" 
    class="logosStyle">
            <i class="item-icon-left ion-chevron-right rightArrow"></i>
       </ion-item>
  
     <ion-item  class="item item-icon-left itemHeight" href="" ng-click="scanBarcode()">
    <img src="img/macys.png" 
    class="logosStyle">
            <i class="item-icon-left ion-chevron-right rightArrow"></i>
       </ion-item>

       <ion-item  class="item item-icon-left itemHeight" href=""ng-click="scanBarcode()">
    <img src="img/wholefood.png" 
    class="logosStyle">
            <i class="item-icon-left ion-chevron-right rightArrow"></i>
       </ion-item>
       </ion-list>
  </ion-content>
</ion-view>
